
.cart-main-container {
  padding: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom:1px solid #ccc;
}


.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}


